.notice-card {
  background: white;
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,.08);
  color: black;
}
.notice-image {
  width: 500px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #020617;
}
